.border-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  border-bottom: 5px solid rgba(255, 255, 0, 1);
}

.movie-details-container {
  color: #fff;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-content {
  display: flex;
  flex: 1;
}

.movie-poster {
  height: 270px;
  width: 180px;
  margin-right: 20px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.movie-title {
  font-size: 30px;
  display: flex;
}

.title {
  color: #e0e0e0;
  flex: 0.8;
}

.rating {
  flex: 0.2;
  display: flex;
  align-items: center;
}

.details {
  font-size: 22px;
  margin-top: 10px;
}

.cast {
  font-size: 22px;
  margin-top: 5px;
}

.description {
  font-size: 22px;
  margin-top: 5px;
}
