/* SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.search-input {
  width: 40vw;
  height: 40px;
  font-size: 24px;
  padding: 10px;
}

.search-icon {
  fill: #ffc107;
  margin-left: 10px;
  font-size: 35px;
}
